extends parts/layout
block content
    h2= elem.title
    div.images
        each img in images
            img(src="../assets/" + elem.folder + "/" + img)
    nav.nav
        ul.items  
            - if(elem.rank !== totalCount)
                li.nav.text 
                    a(href="/pages/" + (elem.rank + 1) + ".html") 上一页
            - if(elem.rank !== 1)
                li.nav.text 
                    a(href="/pages/" + (elem.rank - 1) + ".html") 下一页
