extends parts/layout
block content
    <ul>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>
    <li><a href="/">第113期：2014年10月30日 更新</li>

    </ul>
    <nav class="nav">
    <ul class="items">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">4</a></li>
    </ul>
    </nav>

