doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    title 美臀小站-对美臀的热爱！!

    link(rel="stylesheet" href="/bin/css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    <!--[if lt IE 9]>
    script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
  body
    div.wrapper
      header
        h1
          a(href="/") 美臀小站
        p 对美臀的热爱！
        p 每日更新！！
        p 反对色情，过于暴露一律清除。
        p 做最良心的图片鉴赏网站。
        p 我们只为静静欣赏。
      section
        block content
      div#back-to-top.back-to-top 
    footer
      div 觉得更新太慢？
      a(href="/pages/payment.html", target="_blank") 只需25元，就可以无限获取海量美臀图！

  script(src="/old/javascripts/scale.fix.js")
  script(src="/bin/js/main.js")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55656979-3', 'auto');
    ga('send', 'pageview');
